body{
    font-family: 'Tahoma';
    padding: 0;
    margin: 0; 
}
/* Menu Header*/
nav{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0px;
}


ul{
    list-style-type: none;
    margin-top: 0;
    padding: 0;
    float: right;
}

li{
    display: inline;
    padding-left: 50px;
}

ul a {
    text-decoration: none;
    color: #333333;
}

ul a:hover{
    font-weight: bold;
}
/* HERO */
.hero{
    width: 100%;
    height: 300px;
    background-color: #bc181e;
    margin-top: 100px;
}

.hero h1{ 
    font-family:"Keep on Truckin'FW V2" !important;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    padding-top: 150px;
    margin: 0;
}

/* À LA UNE */
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

section .parent{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

section .parent .enfant .image {
    width: 77%;
}

section .parent .enfant .image3 {
    width: 65%;
}

section .parent .enfant .image5 {
    width: 75%;
    justify-content: center;
}

section .hero{
    width: 100%;
}

section .parent span{
    font-weight: bold;
}

section .parent img{
    width: 100%;
    border-radius: 5px;
}

section .parent .enfant{
    position: relative;
    width: 30%;
}

/* FOOTER */
footer{
    background-color: #bc181e;
    width: 100%;
    height: 50px;
    margin-top: 20px;
    padding-top: 25px;
}

footer p{
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

footer p a{
    text-decoration: none;
    color: white;
}